@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');

:root{
    --main-color: #01161e;
    --second-color: #124559;
    --third-color: #598392;
    --fourth-color: #aec3b0;
    --fifth-color: #eff6e0;
}

body {
    font-family: "DM Sans", sans-serif;       
    background-color: var(--main-color);
    margin: 0;
}

.mainContainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vw;
}

.content1 {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    margin: 2vw;
    width: 100%;
    height: 20vw;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.content1 .img-wrapper {
    background-color: var(--fifth-color);
    padding: .5vw;
    border-radius: 2vw;
    transition: transform 150ms ease-in-out;
}

.content1 img {
    height: 100%;
    width: auto;
    border-radius: 2vw;
}

.img-wrapper:hover {
    transform: scale(1.02);
}

.content1-text {
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    color: var(--third-color);
    text-align: center;
}

.content1-div1 {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
    flex-direction: row;
    font-size: max(2vw, 2vw + 1px);
    color: var(--fourth-color);
    padding-top: 2vw;
}
.content1-div1 .material-symbols-outlined{
    font-size: max(3vw, 3vw + 1px);
}
.content1-div1-title {
    font-size: max(4vw, 4vw + 1px); 
    padding-bottom: .5vw; 
    font-weight: 500;
    color: var(--fourth-color);
}
.content1-div2 {
    display: flex;
    flex-direction: column;
}
.content1-div2-text {
    color: var(--fourth-color);
}
.content1-div2-text {
    font-size: max(2vw, 2vw + 1px);
}


.mainContainer2 {
    background-color: var(--fourth-color);
    height: 30vw;
    width: 100%;
    display: flex;
}


.container-content2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2vw;
    gap: 2vw;
}

.content2-title {
    display: flex;
    color: var(--main-color);
    font-size: max(4vw, 4vw + 1px);
    font-weight: 500;
}

.content2-main {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.content2-div1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 22vw;
    border-radius: 2vw;
}

.content2-div1-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    transition: transform 150ms ease-in-out;
}

.content2-main .material-symbols-outlined {
    font-size: max(6vw, 6vw + 1px);
}

.text-content2 {
    font-size: max(2vw, 2vw + 1px);
}

.content2-div1:hover {
    color: var(--third-color);
    cursor: pointer;
}

.content2-div1:hover .content2-div1-inner {
    transform: scale(1.1);
}

.content2-second {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box-content2 {
    background-color: var(--second-color);
    width: 100%;
    height: .3vw;
}

.text2-content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(4vw, 4vw + 1px);
    color: var(--main-color);
    padding-top: 2vw;
}

.mainContainer3 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30vw;
    background-color: white;
    padding-bottom: 2vw;
    padding-top: 2vw;
}

.containerContent3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container3CardContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.container3Wrapper {
    display: flex;
    flex-direction: column;
    height: 20w;
    width: 30%;
    background-color: black;
    margin: 2vw 2vw 2vw 2vw;
    border-radius: 2vw;
    transition: transform 150ms ease-in-out;
}

.mainContainer3 a{
    text-decoration: none;
    color: inherit;
}

.content3-title {
    display: flex;
    color: var(--main-color);
    font-size: max(4vw, 4vw + 1px);
    font-weight: 500;
    transition: transform 150ms ease-in-out,
                color 150ms ease-in-out;
}

.content3-title:hover {
    transform: scale(1.05);
    color: var(--second-color-color);
}

.container3Wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.mainContainer4 {
    display: flex;
    width: 100%;
    height: 40vw;
}

.containerContent4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content4-title {
    display: flex;
    color: var(--fourth-color);
    font-size: max(4vw, 4vw + 1px);
    font-weight: 500;
    transition: transform 150ms ease-in-out,
    color 150ms ease-in-out;
}

.content4-title:hover {
    transform: scale(1.05);
}

.container4CardContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
}

.container4Wrapper {
    display: flex;
    width: 45%;
    height: 28vw;
    margin: 2vw 2vw 2vw 2vw;
    background-color: var(--fifth-color);
    border-radius: 2vw;
    transition: transform 150ms ease-in-out;
}

.container4Wrapper:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.mainContainer4 a {
    text-decoration: none;
    color: inherit;
}