@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');
/* .dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root{
    --main-color: #01161e;
    --second-color: #124559;
    --third-color: #598392;
    --fourth-color: #aec3b0;
    --fifth-color: #eff6e0;
}

body {
    font-family: "DM Sans", sans-serif;       
    background-color: var(--main-color);
    margin: 0 0 0 0;
}

.content1Container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fifth-color);
    gap: 2vw;
    padding: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 100%;
}

.content1Title {
    font-size: max(4vw, 4vw + 1px);
    font-weight: 500;
    color: var(--main-color);
}

.content1CardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    border-radius: 1vw;
}

.content1CardContainer img {
    width: 20vw;
    height: auto;
    border-radius: 1vw;
    padding-bottom: .5vw;
    transition: transform 150ms ease-in-out;
    display: block;
}

.content1CardContainer img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.content1CardDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.content1CardWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow: visible;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.content1CardTitle {
    font-size: max(2vw, 2vw + 1px);
    color: var(--main-color);
    font-weight: 500;
}

.content1CardContainer .material-symbols-outlined {
    font-size: max(2vw, 2vw + 1px);
    color: var(--fifth-color);
    background-color: var(--second-color);
    border-radius: .2vw;
    padding: .5vw;
    transition: transform 150ms ease-in-out;
}

.content1CardContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    gap: 1vw;
    margin-top: 0.5vw;
    width: 100%;
}

.content1CardDesc {
    font-size: max(2vw, 2vw + 1px);
    font-weight: 300;
    color: var(--main-color);
}

.content1CardContent .material-symbols-outlined:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.content2Container {
    display: flex;
    width: 100%;
}

.content2Wrapper {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    background-color: var(--fifth-color);
    width: 100%;
    padding: 1vw;
}
