@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');
/* .dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root{
    --main-color: #01161e;
    --second-color: #124559;
    --third-color: #598392;
    --fourth-color: #aec3b0;
    --fifth-color: #eff6e0;
}

body {
    font-family: "DM Sans", sans-serif;       
    display:flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    border-radius: 1vw;
    width: 25vw;
    height: 30vw;
    text-align: center;

}

.content {
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1vw 1vw 1vw 1vw;
}

.title {
    align-items: center;
    font-size: 3vw;
    padding-top: 1vw;
}

input {
    background-image:none;
    background-color:transparent;
    box-shadow: none;
    outline: none;

    border-radius: .5vw;
    border-color: var(--main-color);
    border-width: 1px;
    height: 1.5vw;
    width: 98%;

    margin-top: .5vw;
    margin-bottom: .5vw;
}